.chatContainer {
    background-color: var(--sub);
    margin: auto;
    width: 60%;
    height: 60vh;
    padding: 2em 0 2em 0;
    border-radius: 1.5em;
}

.messagesList {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-gutter: thin;
    scrollbar-color: var(--color) var(--sub);
}

.messagesList::-webkit-scrollbar-thumb {
    border-radius: 1em;
}

.chatMessage {
    display: block;
    margin: 1.25em auto;
    width: fit-content;
    max-width: 55%;
    border-radius: 1em;
    text-align: left;
    position: relative;
}

.chatNote {
    display: block;
    margin: -0.75em auto 0em auto;
    width: fit-content;
    max-width: 55%;
    border-radius: 1em;
    text-align: left;
    position: relative;
    font-size: 0.9em;
}

.right {
    margin-right: 2em;
    background-color: var(--color);
    padding: .2em 2.5em .2em 1.5em;
    color: black;
}

.left {
    margin-left: 2em;
    background-color: var(--accentTheme);
    padding: .2em 2.5em .2em 1.5em;
}

.listHeader {
    margin-bottom: 0;
    color: var(--color);
}

.chatNote ul {
    margin-top: 0.3em;
}

.chatNote li {
    list-style: '✓';
    color: var(--text);
    margin-bottom: 0.25em;
    position: relative;
    right: 1.5em;
}

.chatNote li span {
    color: var(--text);
    position: relative;
    left: 0.5em;
}