/* .chatContainer {
    background-color: var(--sub);
    margin: auto;
    width: 60%;
    height: 60vh;
    padding: 2em 0 2em 0;
    border-radius: 1.5em;
} */

.chatContainer {
    background-color: var(--sub);
    margin: auto;
    max-width: 60em;
    height: 60vh;
    padding: 2em 0 2em 0;
    border-radius: 1.5em;
}

.messagesList {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-gutter: thin;
    scrollbar-color: var(--color) var(--sub);
}

.messagesList::-webkit-scrollbar-thumb {
    border-radius: 1em;
}

.chatMessage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1.25em auto;
    width: fit-content;
    max-width: 55%;
    border-radius: 1em;
    text-align: left;
    position: relative;
    font-size: 1em;
}

.chatNote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: -0.75em auto 1em auto;
    width: fit-content;
    max-width: 55%;
    border-radius: 1em;
    text-align: left;
    position: relative;
    font-size: 1em;
}

.right {
    margin-right: 2em;
    background-color: var(--color);
    padding: .2em 2.5em .2em 1.5em;
    color: black;
}

.left {
    margin-left: 2em;
    background-color: var(--accentTheme);
    padding: .2em 1.25em .2em 1.5em;
}

.listHeader {
    /* font-size: 0.9em; */   
    margin-bottom: 0;
    color: var(--color);
}

.chatNote ul {
    font-size: 0.9em;
    margin-top: 0.3em;
}

.chatNote li {
    list-style: '✓';
    color: var(--text);
    margin-bottom: 0.25em;
    position: relative;
    right: 1.5em;
}

.chatNote li span {
    color: var(--text);
    position: relative;
    left: 0.5em;
}

.chatMessage div {
    flex-grow: 1;
}

.speakingButton {
    all: unset;
    cursor: pointer;
    visibility: hidden;
    display: inline-flex;
    height: fit-content;
    flex: 1;
    /* margin-left: auto;
    margin-right: 0; */
    /* margin-bottom: 0em; */
    margin-left: 1em;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--text);
    background-color: var(--sub);
    font-size: 1em;
    padding: 0.3em;

    transform: scale(0.3);
    transition: transform 100ms cubic-bezier(0.1, 0.2, 0.3, 1);
}

.chatNote:hover .speakingButton {
    visibility: visible;
    font-size: 1em;
    transform: scale(1);
    transition: transform 100ms cubic-bezier(0.1, 0.2, 0.35, 1);
}

.pauseButton {
    all: unset;
    cursor: pointer;
    display: inline-flex;
    height: fit-content;
    flex: 1;
    margin-left: 1em;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--color);
    background-color: var(--sub);
    font-size: 1em;
    padding: 0.3em;
}

@media (max-width: 60em) {
    .chatContainer {
        width: 100%;
        font-size: 0.9em;
    }

    .chatMessage {
        font-size: 0.9em;
    }

    .chatNote {
        max-width: 75%;
        font-size: 0.9em;
    }

    .chatNote li {
        right: 2.5em;
    }

    .right {
        margin-right: 0.5em;
        padding: .2em 2.5em .2em 1.5em;
    }

    .left {
        margin-left: 0.5em;
        padding: .2em 1.25em .2em 1.5em;
    }

    .speakingButton {
        all: unset;
        cursor: pointer;
        display: inline-flex;
        height: fit-content;
        flex: 1;
        margin-left: 0.75em;
        margin-right: 0em;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: var(--text);
        background-color: var(--sub);
        font-size: 0.8em;
        padding: 0.4em;
    }

    .pauseButton {
        all: unset;
        cursor: pointer;
        display: inline-flex;
        height: fit-content;
        flex: 1;
        margin-left: 0.75em;
        margin-right: 0em;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: var(--color);
        background-color: var(--sub);
        font-size: 0.8em;
        padding: 0.4em;
    }

    .chatNote:hover .speakingButton {
        font-size: 0.8em;
    }
}
