.chatContainer {
    background-color: rgb(240, 240, 240);
    margin: auto;
    width: 60%;
    height: 60vh;
    padding: 2em 0 2em 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(64, 224, 104) rgb(224, 224, 224); 
}

.messagesList {
    
}

.chatMessage {
    display: block;
    margin: 1.25em auto;
    width: fit-content;
    max-width: 55%;
    border-radius: 1em;
    text-align: left;
    position: relative;
}

.chatNote {
    display: block;
    margin: -0.75em auto 0em auto;
    width: fit-content;
    max-width: 55%;
    border-radius: 1em;
    text-align: left;
    position: relative;
    font-size: 0.9em;
}

.right {
    margin-right: 2em;
    background-color: rgb(64, 224, 104);
    padding: .2em 2.5em .2em 1.5em;
    color: black;
}

.left {
    margin-left: 2em;
    background-color: rgb(231, 231, 231);
    padding: .2em 2.5em .2em 1.5em;
}

.listHeader {
    margin-bottom: 0;
    color: rgb(64, 224, 104);
}

.chatNote ul {
    margin-top: 0.3em;
}

.chatNote li {
    list-style: '✓';
    color: rgb(43, 43, 43);
    margin-bottom: 0.25em;
    position: relative;
    right: 1.5em;
}

.chatNote li span {
    color: rgb(71, 71, 71);
    position: relative;
    left: 0.5em;
}