.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4em;
    background-color: var(--sub);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
}

.navbar div {
    background-color: var(--sub);
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: absolute;
    width: 100%;
}

.navbar span {
    text-decoration: none;
    color: var(--text);
    font-size: 1em;
    margin-left: 3em;
    transition: 500ms;
}

.homepageLink a {
    color:rgb(0, 183, 255);
    text-decoration: none;
    transition: 200ms;
}

.navbar a:hover {
    color: rgb(22, 157, 211);
}

.themeSwitcher {
    all: unset;
    margin-right: 3em;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--text);
    background-color: var(--accentTheme);
    font-size: 1.3em;
    padding: 0.6em;
    transition: 200ms;
}

.themeSwitcher:hover {
    box-shadow:0px 0px 0px 0.08em var(--text) inset;
}

.modalButton {
    all: unset;
    margin-right: 1.5em;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--text);
    background-color: var(--accentTheme);
    font-size: 1.3em;
    padding: 0.6em;
    transition: 200ms;
}

.modalCloseButton {
    all: unset;
    margin-left: auto;
    margin-right: 1.5em;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--text);
    background-color: var(--accentTheme);
    font-size: 1em;
    padding: 0.4em;
    transition: 200ms;
}